@font-face {
    font-family: mainFont;
    src: url("./futuraboldcondensedoriginal.otf");
}

@font-face{
    font-family: titleFont;
    src: url("./Bangers.ttf");
}

body{
    font-family: mainFont;
}

.brand_img{
    border: 2px solid black;
    width: 170px;
    height: 150px;
    margin-top: 100px;
}

.shoe_img{
    width: 170px;
    height: 170px;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-top: 1px solid black;
    border-right: 1px solid black;
    vertical-align: center;
    box-shadow: 5px 5px red;
}

.shoe_div {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 320px;
}

#titlebox{
    font-family: titleFont;
    background-color: red;
    width: 100%;
    margin-left: 0px;
    height: 150px;
    margin-top: 0px;
   
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 20px;
    border-bottom: 2px solid black;
}

h1{
    font-family: titleFont;
    font-size: 60px;
}

#page_logo{
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 200px;
  
    border-bottom: 2px solid white;
    margin-left: 800px;
    margin-top: 50px;

}

.brand_div{
    margin-left: 30px;
}